$primaryColor: #409EFF;
$successColor: #67C23A;
$warningColor: #E6A23C;
$dangerColor: #F56C6C;
$infoColor: #909399;
$primaryTxtColor: #303133;

$mhBorderRadius: 4px;
$mhBorderColor: #9e9e9e;

.df {
    display: flex;
}